<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Widget Confabulators Time Tracker</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styling -->
        <link href="css/styles.min.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

        <!-- Load Vue before content so no placeholders are shown -->
        <script src="js/vue.min.js"></script>
	</head>
	<body>
        <div id="main-container">
            <div id="vueApp">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">
                                {{ title }}
                            </h1>
                        </div>
                    </div>

                    <div id="loginForm" class="row">
                        <div class="col-md-12">
                            <template v-if="logged_in">
                                <div class="form text-center">
                                    <button v-on:click="logoutUser()" class="btn btn-default">Logout</button>
                                </div>
                            </template>
                            <template v-else>
                                <div class="form text-center">
                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" class="form-control" v-model="user_login_info.username" v-on:keyup.enter="loginUser()">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" class="form-control" v-model="user_login_info.password" v-on:keyup.enter="loginUser()">
                                    </div>
                                    <button v-on:click="loginUser()" class="btn btn-default">Login</button>
                                </div>
                            </template>
                        </div>
                    </div>

                    <template v-if="logged_in">

						<div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTaskEntryModal">
                                  New Entry
                                </button>

								<a href="/task_entries/export">
									<button type="button" class="btn btn-warning" data-target="#newTaskEntryModal"> 
									  Export Time Entries
									</button>
								</a>
 
                            </div>
                        </div>


                        <div class="row results-section">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                       <tbody>
                                            <tr v-for="task in tasks">
                                                <td>
                                                    {{ task.name }} (project {{ _.get(_.find(projects, { 'id': task.project_id}), 'name')}})
													<div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr v-for="task_entry in task.task_entries">

                                                                <td>
                                                                    {{ task_entry.note }}
                                                                </td>

																<td>
																	<span v-if="task_entry.duration">
																		{{ (parseFloat(task_entry.duration)/60/60).toFixed(2)}} Hours
																	</span>
																</td>

                                                                <td class="text-right">
                                                                    <template v-if="task_entry.in_progress">
                                                                        <button class="btn" v-on:click="stopTaskEntry(task_entry)">
                                                                            Stop
                                                                        </button>
                                                                    </template>
                                                                    <template v-else>
                                                                        <button class="btn" v-on:click="startTaskEntry(task_entry)">
                                                                            Start
                                                                        </button>
                                                                    </template>
                                                                    <button type="button" class="btn" data-toggle="modal" data-target="#editTaskEntryModal" v-on:click="filloutEditTimeEntryModal(task_entry)">
                                                                        Edit
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
													</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

           				<!-- New Task Entry Modal -->
						<div class="modal fade" id="newTaskEntryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  	<div class="modal-dialog" role="document">
								<div class="modal-content">
							  		<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="myModalLabel">New Time Entry</h4>
							  		</div>
								  	<div class="modal-body">
										<div class="dropdown">
											<span>Project: </span>
											<select v-model="new_task_entry.project">
												<option v-for="project in projects" v-bind:value="project">
													{{ project.name }}
												</option>
											</select>
										</div>
										<div class="dropdown">
											<span>Task: </span>
											<select v-model="new_task_entry.task">
												<option v-for="task in new_task_entry.project.tasks" v-bind:value="task">
													{{ task.name }}
												</option>
											</select>
										</div>

										<div id="dropdown-notes">
											<textarea v-model="new_task_entry.note" placeholder="Notes (optional)"></textarea>
										</div>
								  	</div>
								  	<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="newEntryStartTimer()">Start Timer</button>
										<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="addNewTaskEntry()" >Save changes</button>
										<button type="button" class="btn" data-dismiss="modal">Cancel</button>
									</div>
								</div>
						  	</div>
						</div> 

           				<!-- Edit Task Entry Modal -->
						<div class="modal fade" id="editTaskEntryModal" tabindex="-1" role="dialog">
						  	<div class="modal-dialog" role="document">
								<div class="modal-content">
							  		<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="myModalLabel">Time Entry Duration Manual Override</h4>
							  		</div>
								  	<div class="modal-body">

										<div id="dropdown-notes">
											<span>Duration: </span><input v-model="updated_task_entry.duration">
										</div>

								  	</div>
								  	<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="setTaskEntryDuration(updated_task_entry.id, updated_task_entry.duration)">Save</button>
										<button type="button" class="btn" data-dismiss="modal">Cancel</button>
									</div>
								</div>
						  	</div>
						</div> 


                    </template>
                </div>
            </div>
        </div>
        

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-3.1.1.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>

        <!-- Lodash -->
        <script src="js/lodash.js"></script>

        <!-- VueApp -->
        <script src="js/vueApp.js"></script>
	</body>
</html>
