/* Coolors Exported Palette - coolors.co/628395-96897b-dfd5a5-dbad6a-cf995f */

$theme-steel-teal: rgba(98, 131, 149, 1);
$theme-cinereous: rgba(150, 137, 123, 1);
$theme-tuscan: rgba(223, 213, 165, 1);
$theme-fawn: rgba(219, 173, 106, 1);
$theme-brown-yellow: rgba(207, 153, 95, 1);
