/* Coolors Exported Palette - coolors.co/012622-003b36-ece5f0-e98a15-59114d */

$color-dark-green: rgba(1, 38, 34, 1);
$color-rich-black: rgba(0, 59, 54, 1);
$color-lavender-mist: rgba(236, 229, 240, 1);
$color-carrot-orange: rgba(233, 138, 21, 1);
$color-pansy-purple: rgba(89, 17, 77, 1);
